</body>

<!-- Link to the adminMethods.js file (which contains the deleteUser function) -->
<!-- This is available on this path due to the middleware express.static in the index.js file -->
<script src="/js/adminMethods.js"></script> 

</html>