<%- include('./partials/header') %>

<section class="hero is-fullheight body-401 is-flex-direction-column">
  <div class="hero-body">
    <div class="container cardIsWhite has-text-centered p-5">
      <h1 class="title is-1">401</h1>
      <p class="subtitle is-4">Please connect or contact an administrator.</p>
      <a href="/" class="button is-primary">To connect</a>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>